#main_view {
    border-left: solid 1px @background_secondary;
}

/*
gridview child {
    background-color: #ff0000;
}

gridview child:selected {
    background-color: #ff00ff;
}
*/

#time {
    font-weight: bold;
    font-size: 50px;
}

