

/*
gridview child {
    background-color: #ff0000;
}

gridview child:selected {
    background-color: #ff00ff;
}
*/

#smudge {
    font-weight: bold;
    font-size: 50px;
}

#obombo {
    font-weight: bold;
    font-size: 20px;
    color: gold;
}

#bps {
    font-weight: bold;
    font-size: 20px;
    color: mediumspringgreen;
}

